/* Universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family:'Fira Sans', Helvetica, Arial, sans-serif;

    /* For Visual Purpose*/
    /* border: 1px solid red; */
}

body {
    background-color: rgb(219, 104, 51)
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Header */
header {
    padding: 17px;
}

/* Nav */
nav ul li {
    display: inline;
}

li a {
    text-decoration: none;
    color: #00855B;
    font-weight: bolder;
    padding: 0px 11px;
}

li+li::before {
    content: " | ";
}

li a:hover {
    color: red;
    font-size: 17px;
    font-weight: 900;
}

/* Main */
main {
    margin-bottom: 32px;
}
section {
    padding: 12px;
}

.title-bar {
    background-color: #E8DB7D;
}

.back-to-top {
    display: block;
    text-align: right;
    font-size: 11px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    font-weight: bolder;
}

/* Color Section */
#colors span {
    display: block;
}

#text-color {
    background-color: #5a5c5e;
}

#link-color {
    background-color: rgb(0, 133, 91);
}

#bg-color {
    background-color: #db6833;
}

#accent-color {
    background-color: rgb(65, 74, 83);
}

.palette {
    font-weight: 700; 
    display: inline-block;
    height: 123px;
    width: 234px;
    border: 1px solid black;
    border-radius: 11px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: 11px;
}

.color-intention {
    margin-top: 7px;
    font-size: 13px;
    font-weight: normal;
}

/* Font Section */
.fira-sans {
    font-family: 'Fira Sans';
}

.helvetica {
    font-family: Helvetica;
}

.arial {
    font-family: arial;
}

.font-example {
    margin: 22px 11px;
    padding: 22px;
    font-size: 22px;
    text-align: left;
    background-color: whitesmoke;
    border: 1px solid black;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.8);
    border-radius: 11px;
}

/* Text Style Section */
.cabin-sketch {
    font-family: 'Cabin Sketch';
    font-size: 30px;
    font-weight: 900;
}

.special-elite {
    font-family: 'Special Elite';
    font-size: 20px;
    font-weight: 600;
}

.paragraph {
    font-family: 'Fira Sans';
    font-size: 14px;
    font-weight: 400;
    padding-top: 5px;
}

.text-example {
    margin: 22px 11px;
    padding: 22px;
    background-color: whitesmoke;
    border: 1px solid black;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.8);
    border-radius: 11px;
}

.text-pad {
    display: inline-block;
    width: 55%;
    border-bottom: 1px solid rgb(65, 74, 83);
    padding-bottom: 7px;
}

/* Box Shadow Section */
.box-shadow-example {
    display: inline-block;
    height: 123px;
    width: 234px;
    border: 1px solid black;
    border-radius: 11px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: 11px;
    background-color: #6CA6C1;
}

/* Footer */
footer {
    background-color: rgb(65, 74, 83);
    padding: 9px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}